.certifications_section {
    padding: 50px 20px;
    background-color: #020202;
    color: #333;
    text-align: center;
}

.certifications_title {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    background: linear-gradient(90deg, rgb(44, 150, 255), rgb(219, 39, 255), rgb(255, 106, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 30%;
    background-position: center;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline_item {
    position: relative;
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.timeline_item:before {
    content: "";
    position: absolute;
    left: 0; 
    top: 45px;
    width: 15px;
    height: 15px;
    background-color: #4a90e2;
    border-radius: 50%;
    z-index: 1;
}

.timeline_item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 7px;
    top: 60px;
    width: 2px;
    height: calc(100%);
    background-color: #4a90e2;
    z-index: 0;
}

.timeline_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-left: 40px;
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%; 
    height: 75px; 
    max-width: 600px; 
}

.timeline_content:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    background-color: rgba(240, 240, 255, 1); 
}

.certification_image {
    width: 75px; 
    height: 75px; 
    object-fit: contain;
    border-radius: 5px;
}

.certification_name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #333;
    flex: 1; 
}

.certification_date {
    font-size: 0.9em;
    color: #555;
    text-align: right;
    flex: 0.5; 
}

.timeline_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    position: relative;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .timeline_item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .timeline_content {
        height: auto; 
        width: 100%; 
        margin-left: 20px;
    }

    .timeline_item:before,
    .timeline_item:after {
        left: -10px;
    }
}